:root {
    /* set the sidebar width */
    --sidebar-width: 15vw;
}

body {
    overflow-x: hidden;
    padding-top: 100px;
}

.w-sidebar {
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    top: 0;
    z-index: 1060;
}

.row.collapse{
    margin-left: calc(-1 * var(--sidebar-width));
    left: 0;
	transition: margin-left .15s linear;
}  

.row.collapse.show {
    margin-left: 0 !important;
}

.row.collapsing {
    margin-left: calc(-1 * var(--sidebar-width));
    left: -0.05%;
	transition: all .15s linear;
}

@media (max-width:768px) {

    .row.collapse,
    .row.collapsing {
        margin-left: 0 !important;
        left: 0 !important;
        overflow: visible;
    }
    
    .row > .sidebar.collapse {
        display: flex !important;
        margin-left: -100% !important;
        transition: all .3s ease;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }
    
    .row > .sidebar.collapse.show {
        margin-left: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    
    .row > .sidebar.collapsing {
        display: flex !important;
        margin-left: -10% !important;
        transition: all .3s ease !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }
    
}

.button-success{
    margin-left: 10px;
    background-color: rgb(28, 207, 34); /* Green */
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
